* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .intro {
    padding: 180px 0;
    text-align: center;
  }
  .m-about {
    margin-top: 5rem;
  }
  .mx-about {
    margin-left: 7rem;
    margin-right: 7rem;
  }
  .w-about {
    max-width: 200px;
  }
  .maxW-about {
    width: 225px;
  }
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .w-project {
    max-width: 350px;
    min-width: 300px;
  }
  
  .middle {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container-project {
    position: relative;
    width: 100%;
    -webkit-transition: -webkit-transform 0.5s; /* Safari */
    transition: transform 0.5s;
  }
  
  .container-project:hover {
    transform: scale3d(1.02, 1.02, 1.02);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .container-project:hover .maxW-project {
    opacity: 0.3;
  }
  .container-project:hover .middle {
    opacity: 1;
  }
  
  .skills-box {
    height: auto;
    max-width: 100px;
    background: gray;
    margin: 5px;
    border-radius: 10px;
  }
  
  .w-skills {
    max-width: 100px;
    min-width: 100px;
  }
  
  .bg-projects {
    background: #dab88b;
  }
  
  .bg-skills {
    background: #b7cadb;
  }
  
  .p-b {
    padding-bottom: 100px;
    /* background-color: #2a6592; */
  }
  .span-experience {
    border-radius: 10px;
    background-color: #b7cadb;
    padding: 5px;
    margin: 10px 8px;
    display: inline-block;
  }
  .img-h {
    height: 250px;
    width: 250px;
    border-radius: 100px;
  }
  .bg-h {
    background: #605b56;
  }